<nav class="bg-neutral-950 text-[#fed000] p-4">
  <div class="md:w-1/2 m-auto flex justify-evenly">
    <div><a href="/" class="text-xl font-semibold">Waikau Notes</a></div>
    <div><a href="/">Home</a></div>
    <div>
      <a class="p-2 bg-[#fed000] text-neutral-950 rounded" href="/create"
        >NEW NOTE</a
      >
    </div>
  </div>
</nav>
