<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs") %>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <h1><%= note.title %></h1>
    <p><%= note.content %></p>
  </body>
</html>
